<form action="/calc_bill" method="post" id="textArea">
<div class="textField"> <label for="">Username :</label> 
        <input type="text" name="inputName" id="" value="{{nameValue}}">
    </div> <br>

</form>
<div>
    Usage string :<textarea name="usageString" form="textArea"></textarea>
</div>